<a href="https://colab.research.google.com/github/moseti-peter/Introduction-to-python/blob/main/mini_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Create a list of your 8 foods and store it in a variable called foods.\n",
# pizza cake banana kales pizza chicken beef"
foods = ["pizza", "cake", "banana", "kales", "pizza", "chicken", "beef"]

In [ ]:
# 1.1. Print the first and last item in the foods list.
print(foods[0])
print(foods[-1])

pizza
beef

In [ ]:
# 1.2. Replace the third item in the list with another food."
foods[2] = "apple"
print(foods)

['pizza', 'cake', 'apple', 'kales', 'pizza', 'chicken', 'beef']

In [ ]:
# 1.3. Add a new food to the end of the list using .append()."
foods.append("orange")
print(foods)

['pizza', 'cake', 'apple', 'kales', 'pizza', 'chicken', 'beef', 'orange']

In [ ]:
# 1.4. Remove one food from the list using .remove().
foods.remove("pizza")
print(foods)

['cake', 'apple', 'kales', 'pizza', 'chicken', 'beef', 'orange']

In [ ]:
# 1.5. Use a for loop to print each item in the list on a new line."
for food in foods:
    print(food)

cake
apple
kales
pizza
chicken
beef
orange

In [ ]:
# 1.6. Use a loop to print only the foods that start with the letter \"a\"."
for food in foods:
    if food.startswith("a"):
        print(food)

apple

In [ ]:
# 1.7. Count how many times \"pizza\" appears in the list."
print(foods.count("pizza"))

1

In [ ]:
# 1.8. Print the second to fourth items using slicing.\n",
# Remember that slicing is getting a range of values using the square brackets and index"
print(foods[1:4])

['apple', 'kales', 'pizza']

In [ ]:
# 1.9. Print the list in reverse using slicing."
print(foods[::-1])

['orange', 'beef', 'chicken', 'pizza', 'kales', 'apple', 'cake']

In [ ]:
print(foods[0:])

['cake', 'apple', 'kales', 'pizza', 'chicken', 'beef', 'orange']

In [ ]:
# 2. Create a list of numbers: 5 2 9 1 7"
numbers = [5, 2, 9, 1, 7]

In [ ]:
# 2.1 Use the following functions:\n",
# sum() to calculate total\n",
# max() to find the highest\n",
# min() to find the smallest"
print(sum(numbers))
print(max(numbers))
print(min(numbers))

24
9
1

In [ ]:
# 2.2. Sort the list in ascending and descending order using .sort() and .reverse()."
numbers.sort()
print(numbers)
numbers.reverse()
print(numbers)

[1, 2, 5, 7, 9]
[9, 7, 5, 2, 1]

In [ ]:
# 2.3. Use .insert() to add the number 10 at index 2."

In [ ]:
# 3. Create the nested list of students below and their scores:\n",
# then print each student's name and score using a loop.\n", "students = [[\"Alice\", 85], [\"Bob\", 78], [\"Charlie\", 92]]"
students = [["Alice",85],["Bob",78],["Charles",92]]
print(students)

[['Alice', 85], ['Bob', 78], ['Charles', 92]]

In [ ]:
# 3.1. Find the student with the highest score.
highest_score = max(students, key=lambda x: x[1])
print(highest_score)

['Charles', 92]

In [5]:
# 4. Write a function that asks the user to enter 5 numbers and stores them in a list.
num=[]

while len(num)<5:
  numbers = int(input("enter number:"))
  num.append(numbers)

print(num)

enter number:1
enter number:2
enter number:3
enter number:4
enter number:5
[1, 2, 3, 4, 5]

In [4]:

# 4.1. Write a function that removes all even numbers from the list provided by the user."
def get_odd_numbers():
    """Asks the user for 5 numbers, stores them in a list, and removes even numbers."""
    numbers = []
    while len(numbers) < 5:
        try:
            num = int(input("Enter a number: "))
            numbers.append(num)
        except ValueError:
            print("Invalid input. Please enter an integer.")

    odd_numbers = [n for n in numbers if n % 2 != 0]
    return odd_numbers

# Example usage:
result = get_odd_numbers()
print("The list of odd numbers is:", result)

Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
The list of odd numbers is: [1, 3, 5]

In [ ]:
# 5. Merge two lists:\n","list1 = [1, 2, 3]\n","list2 = [4, 5, 6]"
list1 = [1, 2, 3]
list2 = [4, 5, 6]
merged_list = list1 + list2
print(merged_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
# 6. Ask the user to input student names until they type \"stop\". Store all names in a list and print it at the end."
names = []
while True:
    name = input("Enter a student name (type 'stop' to finish): ")
    if name == "stop":
        break
    names.append(name)
print("Student names:", names)

Enter a student name (type 'stop' to finish): Moseti
Enter a student name (type 'stop' to finish): Aguastus
Enter a student name (type 'stop' to finish): Joy
Enter a student name (type 'stop' to finish): Faith
Enter a student name (type 'stop' to finish): Lovely
Enter a student name (type 'stop' to finish): stop
Student names: ['Moseti', 'Aguastus', 'Joy', 'Faith', 'Lovely']

In [ ]:
# 6.1. From the list of names, print only those that are longer than 5 characters."
long_names = [name for name in names if len(name) > 5]
print("Long names:", long_names)

Long names: ['Moseti', 'Aguastus', 'Lovely']

In [3]:
def get_odd_numbers():
    """Asks the user for 5 numbers, stores them in a list, and removes even numbers."""
    numbers = []
    while len(numbers) < 5:
        try:
            num = int(input("Enter a number: "))
            numbers.append(num)
        except ValueError:
            print("Invalid input. Please enter an integer.")

    odd_numbers = [n for n in numbers if n % 2 != 0]
    return odd_numbers

# Example usage:
result = get_odd_numbers()
print("The list of odd numbers is:", result)

Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
The list of odd numbers is: [1, 3, 5]