<a href="https://colab.research.google.com/github/moseti-peter/Introduction-to-python/blob/main/mini_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
correct_value = "Hello"
while True:
  greeting = input("Guess the greeting")
  if greeting == correct_value:
    print("You got it right")
    break
  else:
    print("Incorrect")

Guess the greetinghawau
Incorrect
Guess the greetingHello
You got it right

In [2]:
# 1. Print numbers from 1 to 10\n",
# Output:\n",
# 1\n",
# 2\n",
# ...\n",
# 10
for num in range(1, 11):
  print(num)

1
2
3
4
5
6
7
8
9
10

In [3]:
# 2. Print even numbers between 1 and 20\n",
# Output:\n",
# 2, 4, 6, ..., 20\n",
# 3. Print the square of numbers from 1 to 5\n",
# Output:\n",
# 1 4 9 16 25"
for num in range(1, 21):
  if num % 2 == 0:
    print(num)

2
4
6
8
10
12
14
16
18
20

In [4]:
# 3. Print the square of numbers from 1 to 5\n",
# Output:\n",
# 1 4 9 16 25"
for num in range(1, 6):
  print(num ** 2)

1
4
9
16
25

In [11]:
# 4. Print each character in the word \"Python\"\n",
# Output:\n",
# P\n",
# y\n",
# t\n",
# h\n",
# o\n",
# n"
word = "Python"
for char in word:
  print(char)

P
y
t
h
o
n

In [12]:
# 5. Loop through this list and print names:\n",
#names = [\"Alice\", \"Bob\", \"Charlie\"]
names = ["Alice", "Bob", "Charlie"]
for name in names:
  print(name)

Alice
Bob
Charlie

In [13]:
#6. Print numbers from 5 to 1\n",
# Output:\n",
# 5\n",
# 4\n",
# 3\n",
# 2\n",
# 1"
for num in range(5, 0, -1):
  print(num)

5
4
3
2
1

In [14]:
 #7. Keep asking the user to enter a password until they type \"secret\"\n",
# Output:\n",
# Try again... until correct"
while True:
  password = input("Enter password")
  if password == "secret":
    print("Correct")
    break
  else:
    print("Try again")

Enter passwordtgsdtf
Try again
Enter passworddgsv
Try again
Enter passwordsecret
Correct

In [8]:
# 8. Ask the user to enter numbers until they enter 0. Then print the sum.\n",
# Input:\n",
# 5\n",
# 3\n",
# 0\n",
# Output:\n",
# Total: 8"
total = 0
while True:
  num = int(input("Enter a number"))
  if num == 0:
    break
  total += num
print(total)

Enter a number1
Enter a number3
Enter a number4
Enter a number5
Enter a number4
Enter a number5
Enter a number4
Enter a number5
Enter a number4
Enter a number0
35

In [15]:
# 9. Print all numbers from 1 to 20 that are divisible by 3\n",
# Output:\n",
# 3 6 9 12 15 18"
for num in range(1, 21):
  if num % 3 == 0:
    print(num)

3
6
9
12
15
18

In [19]:
# 10. From this list, print only the odd numbers:\n", "numbers = [4, 7, 10, 13, 16, 19]"
numbers = [4, 7, 10, 13, 16, 19]
for num in numbers:
  if num % 2 != 0:
    print(num)

7
13
19

In [20]:
# 11. Count how many times \"apple\" appears in the list:\n", "fruits = [\"apple\", \"banana\", \"apple\", \"cherry\", \"apple\"]"
fruits = ["apple", "banana", "apple", "cherry", "apple"]
count = 0
for fruit in fruits:
  if fruit == "apple":
    count += 1
print(count)

3

In [9]:
# 12. Use a loop to reverse a string:\n",
# Input:\n",
# \"hello\"\n",
# Output:\n",
# \"olleh\"
text = "hello"
counter = len(text) - 1
reversed_text = ""
while counter >= 0:
  reversed_text += text[counter]
  counter -= 1
print(reversed_text)

olleh

In [21]:
# 13. Print a simple triangle of stars:\n",
# Output:\n",
# *\n",
# **\n",
# ***\n",
# ****\n",
# *****"
for num in range(1, 6):
  print("*" * num)

*
**
***
****
*****

In [25]:
# 14. Use a loop to calculate the factorial of a number:\n",
# Input:\n",
# 5\n",
# Output:\n",
# 120"
num = int(input("Enter a number"))
factorial = 1
for i in range(1, num + 1):
  factorial *= i
print(factorial)

Enter a number4
24

In [26]:
# 15. Loop from 1 to 100 and:\n",
# Print \"Hit\" if divisible by 3\n",
# Print \"Miss\" if divisible by 5\n",
# Print \"Jackpot\" if divisible by both"
for num in range(1, 101):
  if num % 3 == 0 and num % 5 == 0:
    print("Jackpot")
    continue
  if num % 3 == 0:
    print("Hit")
    continue
  if num % 5 == 0:
    print("Miss")
    continue
  print(num)

1
2
Hit
4
Miss
Hit
7
8
Hit
Miss
11
Hit
13
14
Jackpot
16
17
Hit
19
Miss
Hit
22
23
Hit
Miss
26
Hit
28
29
Jackpot
31
32
Hit
34
Miss
Hit
37
38
Hit
Miss
41
Hit
43
44
Jackpot
46
47
Hit
49
Miss
Hit
52
53
Hit
Miss
56
Hit
58
59
Jackpot
61
62
Hit
64
Miss
Hit
67
68
Hit
Miss
71
Hit
73
74
Jackpot
76
77
Hit
79
Miss
Hit
82
83
Hit
Miss
86
Hit
88
89
Jackpot
91
92
Hit
94
Miss
Hit
97
98
Hit
Miss

In [10]:
# 16. Ask the user how many students are in a class. Then loop to enter each student’s name and save them to a list. Finally, print the list of students."
no_of_student = int(input("how many students are in class"))
students = []
while no_of_student > 0:
  name = input("Enter student name")
  students.append(name)
  no_of_student -= 1
print(students)

how many students are in class3
Enter student namePeter
Enter student nameJane
Enter student nameJoy
['Peter', 'Jane', 'Joy']